@import "./resets";
@import "./variables";

@mixin flexBo1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}
@mixin flexBox2 {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 100%;

  .top-header-container {
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0;
    .top-header-wrapper {
      width: 100%;
      min-height: 9vh;
      background-color: $primary-color;
      padding-left: 20px;
      padding-right: 20px;

      .inner-top-header-wrapper {
        max-width: 1140px;
        margin: auto;
        min-height: 8.7vh;
        @include flexBox2;
        align-items: center;
        color: #ebe8e8;

        .top-social-link a {
          color: #ebe8e8;
          padding: 0 5px;
        }
      }

      @media (max-width: 800px) {
        display: none;
      }
    }
    .wrapper-header {
      background-color: $tertiary-color;
      border-bottom: 1px solid #c6c6c9;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;

      .nav-bar {
        max-width: 1140px;
        margin: auto;
        @include flexBox2;

        .logo img {
          width: 45px;
        }

        .nav-links {
          display: flex;

          li {
            list-style: none;

            a {
              text-decoration: none;
              color: $secondary-color;
              font-size: 0.8rem;
              line-height: 50px;
              margin: 0 20px;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 1px;
            }
          }
          .auth-btn {
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 10px;
            transition: 0.5s;
            letter-spacing: 1px;
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.384);

            &:hover {
              background-color: $secondary-color;
              color: $tertiary-color;
            }
            @media (max-width: 800px) {
              margin-top: 20px;
              border: none;
              padding: 0 20px;
            }
          }
          .signup {
            position: relative;
            left: 20px;
            background-color: $primary-color;
            color: $tertiary-color;
            &:hover {
              background-color: $secondary-color;
              color: $tertiary-color;
            }
            @media (max-width: 800px) {
              left: 0;
            }
          }
          @media (max-width: 800px) {
            display: block;
            background-color: $tertiary-color;
            position: absolute;
            width: 85%;
            height: 100vh;
            left: -100%;
            top: 0;
            transition: 0.5s ease-in-out;
            padding-top: 100px;

            li {
              a {
                border-bottom: 1px solid #d3d1d1;
                padding-left: 40px;
                height: 50px;
                line-height: 50px;
                padding: 0 20px;
                display: block;
              }
            }

            &.show-nav {
              left: 0;
            }
          }
        }

        .hamburger {
          display: none;
          height: 35px;
          margin-top: 5px;
          cursor: pointer;

          .bar1,
          .bar2,
          .bar3 {
            width: 30px;
            height: 3px;
            background-color: $primary-color;
            margin: 6px 0;
            transition: 0.4s;
          }
          .bar2 {
            width: 25px;
          }
          &.change .bar1 {
            transform: rotate(-45deg) translate(-8px, 6px);
          }

          &.change .bar2 {
            opacity: 0;
          }

          &.change .bar3 {
            transform: rotate(45deg) translate(-8px, -6px);
          }

          @media (max-width: 800px) {
            display: block;
          }
        }
      }
      @media (max-width: 800px) {
        top: 0;
        .logo img {
          z-index: 5;
          position: relative;
        }
      }
    }
  }
  section {
    min-height: 70vh;
    background-color: $primary-color;

    .inner-about-us-page-container {
      max-width: 1140px;
      margin: auto;
      padding-bottom: 20px;
      padding-top: 180px;
      //   background-image: url(../img/Oride.png);
      // background-repeat: no-repeat;
      // background-position: center;
      // background-attachment: fixed;
      img {
          position: absolute;
          margin-top: -178px;
          width: 200px;
          left: 50%;

      }
      .about-us-page-content {
        min-height: 80vh;
        margin-left: 10px;
        margin-right: 10px;
        background-color: $secondary-color;
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 50px;
        @include flexBox2;
        gap: 20px;

        @media (max-width: 800px) {
          flex-direction: column;
        }

        .left-about-us-page-content {
          padding: 20px;
          width: 100%;
          height: 100%;
          margin-top: 180px;
          @media (max-width: 800px) {
            margin-top: 40px;
          }
          h2 {
            color: #ff5f13;
            margin-bottom: 20px;
          }
          span {
            color: #f1f0f0;
            line-height: 1.5;
          }
        }

        .right-about-us-page-content {
          padding: 20px;
          height: 100%;
          h2 {
            color: #ff5f13;
            margin-bottom: 20px;
            margin-top: 20px;
          }
          span {
            color: #f1f0f0;
            line-height: 1.5;
          }
        }
      }
    }

    .subscribe-containers {
      padding-left: 20px;
      padding-right: 20px;
      max-width: 1140px;
      padding-top: 80px;
      padding-bottom: 80px;
      margin: auto;
      @include flexBox2;

      .article {
        h2 {
          margin-bottom: 15px;
          letter-spacing: 3px;
          font-size: 2.5rem;
          color: #ff5f13;

          @media (max-width: 300px) {
            font-size: 2rem;
          }
        }
        .call-underline {
          max-width: 50px;
          border: 1px solid #455a64;
          position: relative;
          top: -10px;
        }
        p {
          font-size: 1.5rem;
          letter-spacing: 2px;
          line-height: 1.5;
          color: #f1f0f0;
          @media (max-width: 300px) {
            font-size: 1.4rem;
          }
        }
      }
      .image-subscr {
        // position: relative;
        // height: 300px;
        // top: -200px;
        .subscr-gif {
          max-width: 100%;
        }
        @media (max-width: 850px) {
          top: 0;
          height: 100%;
        }
      }

      .subscribe-from {
        h2 {
          letter-spacing: 3px;
          font-size: 1.3rem;
          color: #ff5f13;
          @media (max-width: 300px) {
            font-size: 1rem;
          }
        }
        .subscr-underline {
          max-width: 50px;
          border: 1px solid #455a64;
          position: relative;
          top: 10px;
          margin-bottom: 20px;
        }
        input {
          border-radius: 5px;
          border: none;
        }

        input[type="email"] {
          padding: 10px;
          margin-top: 10px;
          margin-bottom: 10px;
          outline: none;
          width: 230px;

          &:focus {
            border: 1px solid #ff5f13;
          }
        }
        input[type="submit"] {
          padding: 10px;
          width: 100px;
          cursor: pointer;
          background-color: $tertiary-color;
          transition: 0.5s;
          outline: none;
          margin-bottom: 20px;

          &:hover {
            background-color: #ff5f13;
            color: $secondary-color;
          }
        }
        .val_error {
          color: #ff5f13;
          margin-bottom: 20px;
        }
      }
      @media (max-width: 850px) {
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
      }
    }
    .footer-container {
      max-width: 1140px;
      margin: auto;
      border-bottom: 1px solid #272626;
      min-height: 40vh;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 10px;
      color: #f1f0f0;
      @include flexBox2;
      gap: 20px;

      .footer-link {
        padding-bottom: 20px;
        width: 100%;
        padding-left: 5px;

        h4 {
          letter-spacing: 1px;
          margin-bottom: 30px;
          font-size: 18px;
        }

        ul li {
          list-style: none;
          margin: 0px 0px 15px;
        }

        ul li a {
          text-decoration: none;
          color: #f1f0f0;
        }
        @media (max-width: 850px) {
          padding-top: 30px;
          border-top: 1px solid #272626;
        }
      }

      .footer-logo-discr {
        width: 100%;
        padding-left: 5px;
        padding-right: 70px;
        padding-bottom: 20px;

        .footer-logo {
          margin-bottom: 20px;
          max-width: 190px;

          img {
            width: 45px;
          }
          h3 {
            color: $tertiary-color;
            float: right;
            // margin-right: 100px;
            margin-top: 12px;
          }
          @media (max-width: 450px) {
            max-width: 170px;
          }
        }
        .footer-article {
          margin-bottom: 20px;
        }
        .footer-social {
          i {
            font-size: 18px;
          }
          a {
            color: #ff5f13;
            margin: 0px 10px 0px;
          }
        }
        @media (max-width: 850px) {
          // padding-bottom: 50px;
        }
      }
      @media (max-width: 850px) {
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
      }
    }
    .bottom-footer-container {
      max-width: 1140px;
      padding-left: 20px;
      padding-right: 20px;
      margin: auto;
      min-height: 9vh;
      padding-top: 30px;
      text-align: center;
      color: #f1f0f0;

      a {
        color: #ff5f13;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .about-us-page-container {
    margin-top: 128px;

    @media (max-width: 800px) {
      margin-top: 70px;
    }
  }
  .subscribe {
    min-height: 100%;
    background-color: $secondary-color;
  }

  .footer {
    // margin-top: 0;
    padding-top: 80px;
    padding-bottom: 50px;
    min-height: 100%;
    background-color: #121212;
  }
}
